* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: cyan;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 200px auto;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.box {
    height: 100px;
    width: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: purple;
    color: white;
}

#result {
    background-color: white;
    color: black;
}

#timer {
    background-color: red;
    color: yellow;
}

.hidden {
    visibility: hidden;
}